# Hide folders containing HTML files from GitHub language statistics
tools/03_UniqueXpath_Ext+Java/** linguist-vendored
projects/** linguist-vendored
use-cases/spark-seltzers/archive/** linguist-vendored
use-cases/spark-seltzers/charts/** linguist-vendored